/* @group Typography */

/* ==========================================================================
   Rules
   ========================================================================== */
   
/**
* Handle typography based on variables preset in
*/ 
.typographize(@size, pad) {
	font-size: @size * 1rem;
	line-height: ceil(@size / @line-height)  * @line-height / @size;
	margin: 0 0 @line 0;
}

.typographize(@size, inline) {
	font-size: @size * 1rem;
	line-height: 0;
}

body {
	font: 1rem ~"/" @line-height sans-serif;
}

h5,
h6,
h7,
dl,
ol,
p,
pre,
table,
ul {
	margin-bottom: @line;
}

blockquote {
	margin-bottom: @line;
}

/* @group Headers */

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta,
h7, .eta {
	font-weight: bold;
	
	& > strong {
		font-variant: small-caps;
	}
}

h1, .alpha {
	.typographize(@h1-size, pad);
}

h2, .beta {
	.typographize(@h2-size, pad);}

h3, .gamma {
	.typographize(@h3-size, pad);
}

h4, .delta {
	.typographize(@h4-size, pad);
}

/* @end */

a {
	text-decoration: none;
	
	&:hover {
		border-bottom: @single-size solid #333;
	}
	
	&:active {
		top: @single-size;
	}
	
	&:focus {
		outline: thin dotted;
	}
}

/* @group Tooltips */
	.tooltip {
		border-bottom: @single-size dotted;
		cursor: pointer;
	}
	
		.tooltip:hover:after,
		acronym:hover:after {
			content: attr(title);
			
			background: rgba(0,0,0,.8);
			border-radius: .3125rem;
			color: #fff;
			position: absolute;
			text-decoration: none;
			margin: -.3125rem .3125rem;
			padding: .3125rem;
		}
/* @end */

acronym {
	border-bottom: @single-size dotted #333;
	cursor: help;
}

big {
	.typographize(@big-size, inline);
}

blockquote {
	padding-left: @line * .6;
	border-left: @line * .4 solid #999;
}

	blockquote > small {
		color: #999;
		
		&:before {
			content: " —";
		}
	}

code {
	border-radius: .125rem;
	color: #93a1a1;
	font-family: Menlo, monospace;
	margin: .25rem 0;
	padding: .25rem;
	-moz-box-shadow: inset 0 0 @single-size rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 @single-size rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 @single-size rgba(0, 0, 0, 0.5);
	background-color: #002b36;
}

	pre > code {
		display: block;
		margin: .8125rem 0;
		overflow-x: scroll;
	}

del {
	color: rgba(1.0, 1.0, 1.0, 0.5);
	-webkit-transition: color 0.2s ease-in-out;
	
	&:hover {
		color: rgba(1.0, 1.0, 1.0, 1.0);
		text-decoration: none;
		-webkit-transition: color 0.2s ease-in-out;
	}
}

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	
	*line-height:0;
	
	br {
		display: none;
	}
}

kbd {
	border-top: 2px outset;
	border-left: 2px outset;
	border-right: 3px outset;
	border-bottom: 4px outset;
	border-radius: 4px;
}

strong {
	font-weight: bold;
}

sub,
sup {
	.typographize(@sub-size, inline);
}

	sub {
		vertical-align: sub;
	}
	
	sup {
		vertical-align: super;
	}

small {
	.typographize(@small-size, inline);
}

/* @group Lists */

ol,
ul {
	margin-left: @line;
}

	ol {
		list-style: decimal;
	}
	
	ul {
		list-style: square;
		
		&.unmarked {
			list-style: none;
			margin-left: 0;
		}
	}
	
	ul ul,
	ul ol,
	ol ul,
	ol ol {
		padding-bottom: 0;
	}

/* @end */

/* @end  */